body {
    background: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 20px;
  }
  
 .navbar navbar-expand-lg navbar-dark bg-transparent{
    
     height: 30px;
 }


.delphine1{

  height : 60px;
  width: 50px;
}


  .header-section {
    margin-top: 8em;
   
  }
  
  .section-title {
    letter-spacing: 0.1em;
  }
  
  .main-header-text {
    font-size: 2.9em;
    font-weight: bold;
    letter-spacing: 0.15em;
  }
  
  .section {
    margin-bottom: 6em;
    min-height: 300px;
  }
  
  .header-img {
    max-height: 200px;
  }
  
  .section-img {
    max-height: 200px;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.82);
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
  
  .navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: rgb(255, 255, 255);
  }

 .news{
      padding-top: 5%;
  }

 .footer-block{
      padding-top: 17%;
      margin-left: 35%;

  }